* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  background-image: url('https://store-images.s-microsoft.com/image/apps.14541.14487568773448537.eefbf3e0-fd25-4d51-bbe4-457475ed6752.7ec24493-0f1f-4c58-957b-149d6eb4ddcd?mode=scale&q=90&h=1080&w=1920');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-hover.color{
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover {
    width: 250px;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 75px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.hidden {
  opacity: 0;
  transition: 0.1;
}
.show {
  opacity: 1;
  transition: 0.1;
}
#diff_section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#difficult {
  margin-right: 227px;
  background-color: red;
}
